html{
    background-color: #313131;
}
header{
  height: 80px;
 background-color: #888;
}
/*hole page aka defult if not changed*/
body{

 color: #000000;
  background-image: linear-gradient(120deg, #a2bbed, #0d44dd);
 width: 1024px;
 margin: auto;
}
a:link {
  color: rgba(255, 255, 255, 0.682);
  text-decoration: none;
}
a:visited {
  color: rgba(255, 255, 255, 0.682);
  text-decoration: none;
}
a:hover {
  color: rgba(255, 255, 255, 0.778);
  text-decoration: none;
}
a:active {
  color: rgba(255, 255, 255, 0.682);
  text-decoration: none;
}
 /*Grid template*/
 .parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  
  .div1-navbar{ grid-area: 1 / 1 / 2 / 11; 
    background-color: #404258;
    height: 90px;
  }
  .div2-logo { grid-area: 1 / 1 / 2 / 2; 
    margin: auto;
  }
  .div3-home  { grid-area: 1 / 2 / 2 / 3; 
    margin: auto;
  }
  .div4-item2 { grid-area: 1 / 3 / 2 / 4; 
    margin: auto;
  }
  .div5-item3 { grid-area: 1 / 4 / 2 / 5; 
    margin: auto;
  }
  .div6-login { grid-area: 1 / 10 / 2 / 11; 
    background-color: #404258;
    margin: auto;
  }
  .div7-body { grid-area: 2 / 1 / 10 / 8; 
    background-color: #474E68;
  }
  .div8-foter { grid-area: 10 / 1 / 11 / 11; 
    background-color: #6B728E;
  }

  .div9-MainHedder{ grid-area: 2 / 2 / 3 / 4; 
    border-style: solid;
    border-color: #6B728E;
    border-radius: 5px;
  }
  .div9-5SubText{ grid-area: 3 / 2 / 5 / 8; 
    background-color: #50577A;
    border-style: solid;
    border-color: #6B728E;
    border-radius: 5px;
  }
  .div10-Article1 { grid-area: 5 / 2 / 10 / 5;
    background-color: #50577A;
    border-style: solid;
    border-color: #6B728E;
    border-radius: 5px;
    
   }

  .div11Article2 { grid-area: 5 / 5 / 10 / 8; 
    background-color: #50577A;
    border-style:solid ;
    border-color: #6B728E;
    border-radius: 5px;
  }


  .div12-sideBar { grid-area: 2 / 8 / 10 / 11; 
   
   
    border-style: solid;
    border-color: #6B728E;
    border-radius: 5px;
  }
  .div13-sideContent { grid-area: 3 / 8 / 7 / 11; 
    background-color: #50577A;
    margin: 3%;
    border-style:solid ;
    border-color: #6B728E;
    border-radius: 5px;
  }
/*In Navbar*/
.logo{
  padding: 10px 10px 10px 10px;
  background-color: #f58d15;
  border-radius: 25px;
 }
.login{
  background-color: #12a212;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
border: #00a400;
  color: #ffffff;
 
 }

.homepage,.item2page,.item3page{
  padding: 10px 10px 10px 10px;
  background-color: #313131;
  border-radius: 10px;
}
